* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}


/* <--------------- Header ---------------> */

header blockquote {
    margin: 0 auto;
    width: 75%;
    position: relative;
    padding-left: 20px;
}


/* <--------------- Picture - Doctor ---------------> */

#doctor {
    width: 15%;
    position: absolute;
    margin-left: 45%;
    margin-top: 170px;
}

header blockquote p {
    margin: 50px 30px 20px 50px;
    background-color: #ffc108;
    border-radius: 20px;
    padding: 35px 25px 35px 35px;
}

header blockquote p.quote {
    font-style: italic;
    font-size: 1.2em;
}

header blockquote p.credit {
    font-size: 0.8em;
}

header blockquote::before {
    content: "\201c";
    color: #624808;
    position: absolute;
    left: 23px;
    transform: rotate(1deg);
    font-size: 5em;
    font-family: serif;
    padding-left: 45px;
    margin-top: -3px;
}

header blockquote p.quote::after {
    content: "";
    font-family: serif;
}

h1 {
    font-weight: 700;
}


/* <--------------- Product details ---------------> */

#star {
    width: 2%;
    margin-bottom: 5px;
    padding-right: 5px;
}

#comment {
    color: #6e7274;
}

#price {
    font-size: 1.1em;
    font-weight: 500;
    color: #818487;
}

#second-price {
    padding-left: 15px;
    font-weight: 400;
    font-size: 0.7em;
}

#product {
    width: 15%;
    padding: 5px 0 25px 0px;
}

#policy {
    color: #6e7274;
    font-size: 0.8em;
    margin-top: -15px;
}

#stock {
    color: #6e7274;
}

#klima {
    color: #18ba45;
}


/* <--------------- Section - Vitamin ---------------> */

section {
    padding: 70px 0px 0px 100px;
}

section.vitamin article {
    padding: 0 0 0 450px;
    background: url(../images/vitamin-d.jpeg) no-repeat;
    min-height: 500px;
    background-size: 30%;
}

section article button {
    width: 75%;
    height: 60px;
}

section article button a {
    color: #fff;
    text-decoration: none;
}

section article button a:hover {
    color: #fff;
    text-decoration: none;
}


/* <=============== Media Queries 1400px ===============> */

@media screen and (max-width: 1400px) {
    section.vitamin article {
        padding: 0 0 0 430px;
        background-size: 30%;
    }
}


/* <=============== Media Queries 1300px ===============> */

@media screen and (max-width: 1300px) {
    #doctor {
        margin-top: 170px;
    }
    section.vitamin article {
        padding: 0 0 0 380px;
        background-size: 30%;
    }
}


/* <=============== Media Queries 1250px ===============> */

@media screen and (max-width: 1250px) {
    #doctor {
        width: 16%;
        margin-top: 205px;
    }
    #star {
        width: 2.5%;
    }
    section.vitamin article {
        padding: 0 0 0 400px;
        background-size: 33%;
    }
}


/* <=============== Media Queries 1200px ===============> */

@media screen and (max-width: 1200px) {
    #doctor {
        width: 17%;
        margin-top: 200px;
    }
    #star {
        width: 2.5%;
    }
    section.vitamin article {
        padding: 0 0 0 410px;
        background-size: 35%;
    }
}


/* <=============== Media Queries 1150px ===============> */

@media screen and (max-width: 1150px) {
    #doctor {
        width: 17%;
        margin-top: 200px;
    }
    #star {
        width: 3%;
    }
    section.vitamin article {
        padding: 0 0 0 420px;
        background-size: 40%;
    }
}


/* <=============== Media Queries 1075px ===============> */

@media screen and (max-width: 1075px) {
    #doctor {
        width: 17%;
        margin-top: 195px;
    }
    #star {
        width: 3%;
    }
    section.vitamin article {
        padding: 0 0 0 400px;
        background-size: 40%;
    }
}


/* <=============== Media Queries 1000px ===============> */

@media screen and (max-width: 1010px) {
    #doctor {
        width: 17%;
        margin-top: 230px;
    }
    #star {
        width: 3%;
    }
    section.vitamin article {
        padding: 0 0 0 400px;
        background-size: 40%;
    }
}


/* <=============== Media Queries 950px ===============> */

@media screen and (max-width: 950px) {
    #doctor {
        width: 18%;
        margin-top: 250px;
    }
    #star {
        width: 4%;
    }
    section.vitamin article {
        padding: 0 0 0 400px;
        background-size: 45%;
    }
}


/* <=============== Media Queries 875px ===============> */

@media screen and (max-width: 875px) {
    header blockquote {
        margin: 0 auto;
        width: 90%;
    }
    #doctor {
        width: 18%;
        margin-top: 250px;
        margin-left: 42%;
    }
    #star {
        width: 4%;
    }
    section {
        margin-top: 40px;
    }
    section.vitamin article {
        padding: 0 0 0 400px;
        background-size: 50%;
    }
}


/* <=============== Media Queries 780px ===============> */

@media screen and (max-width: 780px) {
    header blockquote {
        margin: 0 auto;
        width: 90%;
    }
    #doctor {
        width: 18.5%;
        margin-top: 270px;
        margin-left: 42%;
    }
    #star {
        width: 5%;
    }
    section {
        margin-top: 50px;
    }
    section.vitamin article {
        padding: 0 0 0 350px;
        background-size: 50%;
    }
}


/* <=============== Media Queries 735px ===============> */

@media screen and (max-width: 735px) {
    header blockquote {
        margin: 0 auto;
        width: 90%;
    }
    header blockquote p {
        font-size: 0.5em;
    }
    #doctor {
        width: 19%;
        margin-top: 330px;
        margin-left: 42%;
    }
    #star {
        width: 6%;
    }
    section {
        margin-top: 50px;
        margin-left: -50px;
    }
    section.vitamin article {
        padding: 0 0 0 410px;
        background-size: 60%;
    }
}


/* <=============== Media Queries 675px ===============> */

@media screen and (max-width: 675px) {
    header blockquote {
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
    }
    header blockquote p {
        padding-top: 80px;
    }
    header blockquote::before {
        top: 23px;
    }
    #doctor {
        width: 23%;
        margin-top: -45px;
        margin-left: 40%;
    }
    #star {
        width: 4%;
    }
    section {
        margin-top: 50px;
        margin-left: -50px;
    }
    section.vitamin article {
        margin-top: -60px;
        padding: 350px 0 0 0;
        background-size: 60%;
    }
}


/* <=============== Media Queries 630px ===============> */

@media screen and (max-width: 630px) {
    header blockquote {
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
    }
    header blockquote p {
        padding-top: 80px;
    }
    header blockquote::before {
        top: 23px;
    }
    #doctor {
        width: 23%;
        margin-top: -45px;
        margin-left: 40%;
    }
    #star {
        width: 4%;
    }
    #policy {
        padding-top: 10px;
    }
    section {
        margin-top: 50px;
        margin-left: -50px;
    }
    section.vitamin article {
        margin-top: -60px;
        padding: 350px 0 0 0;
        background-size: 60%;
    }
}


/* <=============== Media Queries 605px ===============> */

@media screen and (max-width: 605px) {
    header blockquote {
        margin: 0 auto;
        width: 95%;
        margin-top: 10px;
    }
    header blockquote p {
        padding-top: 80px;
    }
    header blockquote::before {
        top: 23px;
    }
    #doctor {
        width: 23%;
        margin-top: -45px;
        margin-left: 40%;
        margin-bottom: 20px;
    }
    #star {
        width: 4%;
    }
    #policy {
        padding-top: 20px;
    }
    section.vitamin article {
        margin-top: -60px;
        padding: 350px 0 0 0;
        background-size: 60%;
    }
}


/* <=============== Media Queries 500px ===============> */

@media screen and (max-width: 499px) {
    header blockquote {
        margin: 0 auto;
        width: 95%;
        margin-top: 10px;
    }
    header blockquote p {
        padding-top: 60px;
    }
    header blockquote::before {
        top: 23px;
    }
    #doctor {
        width: 23%;
        margin-top: -45px;
        margin-left: 40%;
        margin-bottom: 20px;
    }
    #star {
        width: 9%;
    }
    #policy {
        padding-top: 20px;
    }
    section.vitamin article {
        margin-left: -50px;
        margin-top: -60px;
        padding: 0 0 0 290px;
        background-size: 70%;
    }
}


/* <=============== Media Queries 375px ===============> */

@media screen and (max-width: 375px) {
    header blockquote {
        text-align: center;
        margin-top: 20px;
    }
    header blockquote p.quote {
        font-size: 0.8em;
    }
    header blockquote p {
        padding-top: 50px;
        margin: 50px 13px 5px 0px;
    }
    header blockquote::before {
        top: 35px;
        left: 3px;
        font-size: 2.3em;
    }
    #doctor {
        width: 25%;
        margin-left: -35px;
        margin-bottom: 10px;
        margin-top: -40px;
    }
    #star {
        width: 4%;
    }
    #policy {
        padding-top: 20px;
    }
    section.vitamin article div.second-part {
        margin-left: -250px;
        background-position: left 30% top 50%;
    }
    section.vitamin article div.second-part h1 {
        font-size: 1em;
    }
    section.vitamin article div.second-part p {
        font-size: 0.8em;
    }
}